<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lww.design.graduation.mapper.GoodsSpuMapper" >
  <resultMap id="BaseResultMap" type="com.lww.design.graduation.entity.po.GoodsSpu" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="details" property="details" jdbcType="VARCHAR" />
    <result column="price_bottom" property="priceBottom" jdbcType="DECIMAL" />
    <result column="price_top" property="priceTop" jdbcType="DECIMAL" />
    <result column="comment_count" property="commentCount" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, category_id, details, price_bottom, price_top, comment_count
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from goods_spu
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="getByIdList" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from goods_spu
    where id in
    <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from goods_spu
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lww.design.graduation.entity.po.GoodsSpu" >
    insert into goods_spu (id, name, category_id, 
      details, price_bottom, price_top, 
      comment_count)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{categoryId,jdbcType=INTEGER}, 
      #{details,jdbcType=VARCHAR}, #{priceBottom,jdbcType=DECIMAL}, #{priceTop,jdbcType=DECIMAL}, 
      #{commentCount,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lww.design.graduation.entity.po.GoodsSpu" >
    insert into goods_spu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="details != null" >
        details,
      </if>
      <if test="priceBottom != null" >
        price_bottom,
      </if>
      <if test="priceTop != null" >
        price_top,
      </if>
      <if test="commentCount != null" >
        comment_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="details != null" >
        #{details,jdbcType=VARCHAR},
      </if>
      <if test="priceBottom != null" >
        #{priceBottom,jdbcType=DECIMAL},
      </if>
      <if test="priceTop != null" >
        #{priceTop,jdbcType=DECIMAL},
      </if>
      <if test="commentCount != null" >
        #{commentCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lww.design.graduation.entity.po.GoodsSpu" >
    update goods_spu
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="details != null" >
        details = #{details,jdbcType=VARCHAR},
      </if>
      <if test="priceBottom != null" >
        price_bottom = #{priceBottom,jdbcType=DECIMAL},
      </if>
      <if test="priceTop != null" >
        price_top = #{priceTop,jdbcType=DECIMAL},
      </if>
      <if test="commentCount != null" >
        comment_count = #{commentCount,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lww.design.graduation.entity.po.GoodsSpu" >
    update goods_spu
    set name = #{name,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=INTEGER},
      details = #{details,jdbcType=VARCHAR},
      price_bottom = #{priceBottom,jdbcType=DECIMAL},
      price_top = #{priceTop,jdbcType=DECIMAL},
      comment_count = #{commentCount,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>